nav{
    text-align: right;
    margin: 40px;
}
nav ul li{
    list-style: none;
    color:rgb(27, 6, 122);
    display: inline;
    font-size: 20px;
    flex-direction:right;
    padding: 40px;
}
ul li a:hover{
    list-style: none;
    background-color: rgb(7, 4, 48);
    border: 20px;
    border-radius: 25%;
    padding:20px;
}
body{
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    }
    .about{
        width: 900px;
        padding:50px 40px;
        background-color:rgb(4, 22, 71);
        margin-left:120px;
    }
   
.about-text{
    width: 550px;
}
.main{
    width: 800px;

}
h2{
    font-size: 40px;
    margin-left: 240px;
}
p{
    font-size: 20px;
    text-align: justify;
    color:aliceblue;
    line-height: 30px;
    margin-left: 80px;
    margin-top: 40px;
}
.our-values {
    margin-top:10px;
    padding: 10px;
    margin-left: 200px;
}
.values {
   display: flexbox;
}

.heading {
color: black;
font-size: 30px;
text-align: center;
}
.sec3{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: -4px -50px;
    box-sizing: border-box;
    padding: -10px;
}
.sec3 img{
    width: 100px;
    height: 100px;
    color: black;
    
}
.images{
    padding: 400px;
}
.container{
    margin-left: 180px;
    margin-right: 250px;
    
}